<a
  mat-icon-button
  [routerLink]="['/login']"
  routerLinkActive="router-link-active"
  class="back-btn"
>
  <mat-icon>arrow_back</mat-icon>
</a>
<section>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <h1>Passwort zurücksetzen</h1>
  <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
  <form>
    <div class="input-container">
      <div class="input-field-container">
        <div class="input-field">
          <mat-icon>email</mat-icon>
          <input
            mat-input
            type="email"
            name="name"
            id="name"
            placeholder="beispielname@email.com"
            [formControl]="email"
          />
        </div>
        <span class="form-error">{{ getEmailErrorMessage() }}</span>
      </div>
    </div>
    <div class="info-text">
      <p>
        Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
      </p>
    </div>
    <div class="btn-container">
      <button [disabled]="email.invalid" (click)="sendMail()">E-Mail senden</button>
    </div>
  </form>
</section>
