<section>
  <div class="head">
    <h1>Anmeldung</h1>
    <span
      >Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
      verwendest.</span
    >
  </div>
  <form>
    <div class="input-container">
      <div class="input-field">
        <mat-icon>email</mat-icon>
        <input
          mat-input
          type="text"
          name="name"
          id="name"
          placeholder="Vorname und Nachname"
          [(ngModel)]="email"
        />
      </div>
      <div class="input-field">
        <mat-icon>lock</mat-icon>
        <input
          mat-input
          type="password"
          name="password"
          id="password"
          placeholder="Passwort"
          [(ngModel)]="password"
        />
      </div>
      <a [routerLink]="['/forgot_password']" >Passwort vergessen?</a>
    </div>
    <div class="seperator">
      <div></div>
      <span>ODER</span>
      <div></div>
    </div>
    <div>
      <button class="google-btn"><img src="assets/img/start_page/Google.png">Anmelden mit Google</button>
    </div>
    <div class="btn-container">
      <button (click)="login()">Anmelden</button>
      <button>Gäste-Login</button>
    </div>
  </form>
</section>
