<a
  mat-icon-button
  [routerLink]="['/login']"
  routerLinkActive="router-link-active"
  class="back-btn"
>
  <mat-icon>arrow_back</mat-icon>
</a>
<section>
  <h1>Passwort zurücksetzen</h1>
  <form>
    <div class="input-container">
      <div class="input-field">
        <mat-icon>lock</mat-icon>
        <input
          mat-input
          type="text"
          name="name"
          id="name"
          placeholder="Vorname und Nachname"
          [formControl]="newPassword"
        />
      </div>
      <div class="input-field">
        <mat-icon>lock</mat-icon>
        <input
          mat-input
          type="text"
          name="name"
          id="name"
          placeholder="Vorname und Nachname"
          [formControl]="newPassword"
        />
      </div>
    </div>
    <div class="btn-container">
      <button>Passwort ändern</button>
    </div>
  </form>
</section>
