.back-btn {
  position: absolute;
  top: 45px;
  left: 32px;
  &:hover {
    background-color: #eceefe;
    color: #535af1;
  }
}

section {
  width: 576px;
  padding: 40px 53px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

h1 {
  font-weight: 700;
  font-size: 46px;
  line-height: 120%;
  color: #444df2;
}

.btn-container {
  display: flex;
  justify-content: end;
  width: 100%;
}

button {
    color: white;
    font-size: 18px;
    line-height: 120%;
    font-weight: 500;
    padding: 12px 25px;
    background-color: #444DF2;
    border-radius: 25px;
    border: none;

    &:hover {
      background-color: #797EF3;
    }
}

.input-field {
  width: 436px;
  padding: 18px 32px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ECEEFE;

  input {
    width: 382px;
    border: none;
    background-color: #ECEEFE;
    font-size: 18px;
    line-height: 120%;
    font-weight: 500;

    &:focus {
      outline: none;
    }
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
