<a
  mat-icon-button
  [routerLink]="['/register']"
  routerLinkActive="router-link-active"
  class="back-btn"
>
  <mat-icon>arrow_back</mat-icon>
</a>
<section>
  <h1>Wähle deinen Avatar</h1>
  <div class="choosen-avatar">
    <div>
      <img [src]="currentAvatar" class="avatarImg"/>
    </div>
    <h2>Frederick Beck</h2>
  </div>
  <div class="avatars-container">
    <span>Aus der Liste wählen</span>
    <div>
      @for (avatar of avatars; track avatars; let i = $index) {
      <div>
        <img
          [src]="avatar"
          class="chooseImg"
          (click)="currentAvatar = avatar"
        />
      </div>
      }
    </div>
  </div>
  <div class="own-img">
    <span>eigenes Bild verwenden</span>
    <input type="file" accept="image/*" style="display: none;" (change)="onFileChange($event)" #fileInput>
    <button class="button" (click)="chooseFile()">Datei hochladen</button>
  </div>
</section>
<div class="btn-container">
  <button class="next-btn" (click)="updateUser()">Weiter</button>
</div>
