<a
  mat-icon-button
  [routerLink]="['/register']"
  routerLinkActive="router-link-active"
  class="back-btn"
>
  <mat-icon>arrow_back</mat-icon>
</a>
<section>
  <h1>Wähle deinen Avatar</h1>
  <div>
    <img src="" />
    <h2>Frederick Beck</h2>
  </div>
  <div>
    <span>Aus der Liste wählen</span>
    <div></div>
  </div>
  <div>
    <span>eigenes Bild verwenden</span>
    <button>Datei hochladen</button>
  </div>
</section>
<div class="btn-container">
  <a
    [routerLink]="['/login']"
    routerLinkActive="router-link-active"
    class="next-btn"
    >Weiter</a
  >
</div>
