<section class="start-animation">
  <div class="logo-container">
    <img src="assets/img/start_page/Logo.png" class="logo" />

    <img src="assets/img/start_page/Logo_name.png" class="logo-text" />
  </div>
</section>
<section class="main-content">
  <img src="assets/img/start_page/Logo_whit_text.png" class="main-logo">
  <div class="reegister-container">
    <span>Neu bei DABubble?</span>
    <a href="">Konto erstellen</a>
  </div>
  <div class="link-container">
    <a href="">Impressum</a>
    <a href="">Datenschutz</a>
  </div>
  <mat-card>
    <mat-card-content>
      <app-login></app-login>
    </mat-card-content>
  </mat-card>
</section>
