<body>
  <section class="workspace">
    <img src="assets/img/main-page/Workspace logo.png" />
    <span>Code learning</span>
    <button mat-icon-button>
      <mat-icon>edit_square</mat-icon>
    </button>
  </section>
  <section class="channel-container">
    <div class="channel-header">
      <button (click)="switchChannels()" class="open-channel">
        <mat-icon>{{ channelsArrow }}</mat-icon>
        <img src="assets/img/main-page/workspaces.png" /> Channels
      </button>
      <button class="add-channel">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="channels">
      @for (channel of firestore.channellist; track $index) {
      <button [ngClass]="{'btn-active': activeChannel === $index}" (click)="chnageActiveChannel($index)">#{{ channel.name }}</button>
      }
    </div>
    <div class="create-channel">
      <button>
        <mat-icon>add_circle</mat-icon>
        Channel hinzufügen
      </button>
    </div>
  </section>
  <section class="contacts-container">
    <button (click)="switchContacts()">
      <mat-icon>{{ contactsArrow }}</mat-icon>
      <span><img src="assets/img/main-page/account_circle.png" /> Channels</span>
    </button>
    <div class="contacts">
      @for (user of firestore.userlist; track $index) {
      <div [ngClass]="{'btn-active': activeUser === $index}" (click)="chnageActiveUser($index)">
        <img src="{{ user.img }}" />
        <span>{{ user.firstName }} {{ user.lastName }}</span>
      </div>
      }
    </div>
  </section>
</body>
