<button mat-icon-button class="back-btn">
  <mat-icon>arrow_back</mat-icon>
</button>
<section>
  <div class="head">
    <h1>Konto erstellen</h1>
    <span>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</span>
  </div>
  <form>
    <input type="text" name="name" id="name" placeholder="Vorname und Nachname">
    <input type="email" name="email" id="email" placeholder="beispielname@email.com">
    <input type="text" name="password" id="password" placeholder="Passwort">
    <input type="checkbox" name="privacy-policy" id="privacyPolicy">
    <span>Ich stimme der <a href="">Datenschutzerklärung</a> zu</span>
    <button>Weiter</button>
  </form>
</section>
