.back-btn {
  position: absolute;
  top: 45px;
  left: 32px;
  &:hover {
    background-color: #eceefe;
    color: #535af1;
  }
}

section {
  width: 486px;
  padding: 40px 53px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.head {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;

  h1 {
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
    color: #444df2;
  }

  span {
    font-size: 20px;
    line-height: 120%;
  }
}

.input-field {
  width: 436px;
  padding: 18px 32px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ECEEFE;

  input {
    width: 382px;
    border: none;
    background-color: #ECEEFE;
    font-size: 18px;
    line-height: 120%;
    font-weight: 500;

    &:focus {
      outline: none;
    }
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;

  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: #797EF3;
    width: 18px;
    height: 18px;
    border: 1px solid #797EF3;
    border-radius: 4px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 16px 16px #797EF3;
      transform-origin: bottom left;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    &:checked::before {
      transform: scale(1);
    }

    &:hover {
      border: 1px solid #444DF2;

      &::before {
        box-shadow: inset 16px 16px #444DF2;
      }
    }
  }

  .checkbox-hover-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 24px;
    height: 24px;

    &:hover {
      border-radius: 100%;
      background-color: #ECEEFE;
    }
  }

  span {
    font-size: 16px;
    line-height: 120%;
    color: #42526E;

    a {
      font-size: 18px;
      line-height: 120%;
      text-decoration: none;
      color: #797EF3;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}

.next-btn {
    color: white;
    font-size: 18px;
    line-height: 120%;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 25px;
    background-color: #444DF2;
    border-radius: 25px;

    &:hover {
      background-color: #797EF3;
    }
}
